.app {
    font-family: IRANSans, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 3%, rgba(0,212,255,1) 100%);
}

.login-form-input[type="text"],
.login-form-input[type="password"] {
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    text-align: center;
}

.login-form-input[type="submit"] {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #01d28e;
    border: 1px solid #01d28e;
    color: #fff;
    padding: 10px 20px;
}
.login-form-button[type="submit"] {
    background: dodgerblue;
    height: 40px;
    width: 420px;
    border-radius: 50px;
    margin-top: 20px;
    color: white;
    border: 1px solid #d7d5d5;
}

.login-form-button [type="submit"]:hover {
    background: dodgerblue;
}

.button-container {
    display: flex;
    justify-content: center;
}

.login-form {
    background-color: white;
    min-height: 500px;
    min-width: 500px;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-container {
    display: flex;
}

.error {
    color: red;
    font-size: 12px;
}

.title {
    font-size: 25px;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
}